/*styles for song page go here*/    
        body {
            font-family: Optima, sans-serif;
            color: #35013b;
            margin: 0;
            padding: 0;
            background-color: #fcc5f1;
            display: flex; /* flexbox for centering */
            align-items: center; /* vertically center content */
            justify-content: center; /* horizontally center content */
            min-height: 100vh; /* Ensure content is at least full viewport height */
        }
        
        /* input box */
       
        .input {
            --input-focus: #f5149b;
            --font-color: #fdf1ec;
            --font-color-sub: #b404c8;
            --bg-color: #35013b;
            --main-color: #fdf1ec;
            width: 200px;
            height: 40px;
            border-radius: 5px;
            border: 2px solid var(--main-color);
            background-color: var(--bg-color);
            box-shadow: 4px 4px var(--main-color);
            font-size: 15px;
            font-weight: 600;
            color: var(--font-color);
            padding: 5px 10px;
            outline: none;
          }
          
          .input::placeholder {
            font-family: Optima, sans-serif;
            color: var(--font-color-sub);
            opacity: 0.8;
          }
          
          .input:focus {
            border: 2px solid var(--input-focus);
          }
        
        /* protected content */
        #content {
            opacity: 0; /*initial opacity*/
            transition: opacity 2s ease-in-out; /* fade in */
        }
